4.파일 저장 및 열기

In [12]:
import pandas as pd 
data = {
    '이름' : ['채치수', '정대만', '홍길동', '김갑수'],
    '학교' : ['북산고', '북산고', '서울고', '서울고'],
    '키' : ['190','180','70','80'],
    '국어' : ['90','80','70','80'],
    '영어' : ['90','80','70','80'],
    '수학' : ['90','80','70','80'],
    '특기' : ['자바', '파이썬', '', '자바']
}
df = pd.DataFrame(data, index=['1번', '2번','3번','4번'])
df

     이름   학교    키  국어  영어  수학   특기
1번  채치수  북산고  190  90  90  90   자바
2번  정대만  북산고  180  80  80  80  파이썬
3번  홍길동  서울고   70  70  70  70
4번  김갑수  서울고   80  80  80  80   자바

In [19]:
df.to_excel('score.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'

# 저장하기 
csv 파일로 저장

In [20]:
df.to_csv('score.csv', encoding='utf-8-sig')

In [3]:
df.to_csv('score.csv', encoding='utf-8-sig', index=False)  #인덱스 제외

In [4]:
df.to_csv('score.csv', sep='\t')   #tab으로 구분된 텍스트 파일

#df.to_excel('score.xlsx')      # excel 파일로 저장

In [5]:
df = pd.read_csv('score.csv')
df

          \t이름\t학교\t키\t국어\t영어\t수학\t특기
0   1번\t채치수\t북산고\t190\t90\t90\t90\t자바
1  2번\t정대만\t북산고\t180\t80\t80\t80\t파이썬
2      3번\t홍길동\t서울고\t70\t70\t70\t70\t
3    4번\t김갑수\t서울고\t80\t80\t80\t80\t자바

In [6]:
df = pd.read_csv('score.csv', skiprows=1, nrows=3)  #처음 1row제외, 이후 3row 가져옴 
df

    1번\t채치수\t북산고\t190\t90\t90\t90\t자바
0  2번\t정대만\t북산고\t180\t80\t80\t80\t파이썬
1      3번\t홍길동\t서울고\t70\t70\t70\t70\t
2    4번\t김갑수\t서울고\t80\t80\t80\t80\t자바