In [10]:
import pandas as pd 
df = pd.read_csv('score.csv')
df

          \t이름\t학교\t키\t국어\t영어\t수학\t특기
0   1번\t채치수\t북산고\t190\t90\t90\t90\t자바
1  2번\t정대만\t북산고\t180\t80\t80\t80\t파이썬
2      3번\t홍길동\t서울고\t70\t70\t70\t70\t
3    4번\t김갑수\t서울고\t80\t80\t80\t80\t자바

In [11]:
df.describe()

              \t이름\t학교\t키\t국어\t영어\t수학\t특기
count                                   4
unique                                  4
top     1번\t채치수\t북산고\t190\t90\t90\t90\t자바
freq                                    1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   	이름	학교	키	국어	영어	수학	특기  4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [13]:
df.head()   #처음 5개의 데이터를 가져옴

          \t이름\t학교\t키\t국어\t영어\t수학\t특기
0   1번\t채치수\t북산고\t190\t90\t90\t90\t자바
1  2번\t정대만\t북산고\t180\t80\t80\t80\t파이썬
2      3번\t홍길동\t서울고\t70\t70\t70\t70\t
3    4번\t김갑수\t서울고\t80\t80\t80\t80\t자바

In [14]:
df.tail(3)   #마지막 3개의 데이터를 가져옴

          \t이름\t학교\t키\t국어\t영어\t수학\t특기
1  2번\t정대만\t북산고\t180\t80\t80\t80\t파이썬
2      3번\t홍길동\t서울고\t70\t70\t70\t70\t
3    4번\t김갑수\t서울고\t80\t80\t80\t80\t자바

In [17]:
df.shape

(4, 1)

In [18]:
df.values

array([['1번\t채치수\t북산고\t190\t90\t90\t90\t자바'],
       ['2번\t정대만\t북산고\t180\t80\t80\t80\t파이썬'],
       ['3번\t홍길동\t서울고\t70\t70\t70\t70\t'],
       ['4번\t김갑수\t서울고\t80\t80\t80\t80\t자바']], dtype=object)

In [21]:
df['키'].describe()

KeyError: '키'