# 07.데이터 선택 (loc)
이름을 이용해서 원하는 행에서 원하는 컬럼 선택

In [10]:
import pandas as pd 
df = pd.read_csv('score.csv', index_col='지원번호')
df

       이름   학교    키   국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90  85  100  85  85      Python
2번    정대만  북산고  184   40  35   55  35  45        Java
3번    송태섭  북산고  168   85  90   75  75  65  JavaScript
4번    서태웅  북산고  198   50  60   80  75  80         NaN
5번    강백호  북산고  186   70  80   85  80  85         NaN
6번    변덕규  능남고  160   80  90   90  90  75           C
7번    황태산  능남고  169   90  60   80  95  90      Python
8번    윤대협  능남고  190  100  80   90  95  85          C#

In [11]:
df.loc['1번']   #index 1번에 해당하는 전체 데이터

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          85
사회          85
SW특기    Python
Name: 1번, dtype: object

In [12]:
df.loc['1번','국어']   #인덱스 1번 학생의 국어성적만 가져옴

90

In [16]:
df.loc[['1번', '2번', '3번'],'영어']  #인덱스1~3번의 영어성적

지원번호
1번    85
2번    35
3번    90
Name: 영어, dtype: int64

In [18]:
df.loc['1번':'5번', '국어':'사회']  #인덱스 1-5까지, 국어-사회까지 데이터

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  85  85
2번    40  35   55  35  45
3번    85  90   75  75  65
4번    50  60   80  75  80
5번    70  80   85  80  85