4.파일 저장 및 열기
#Data Frame 객체를 excel, csv, txt 등 형태의 파일로 저장

In [4]:
import pandas as pd 
data = {
    '이름' : ['채치수', '정대만', '홍길동', '김갑수'],
    '학교' : ['북산고', '북산고', '서울고', '서울고'],
    '키' : ['190','180','70','80'],
    '국어' : ['90','80','70','80'],
    '영어' : ['90','80','70','80'],
    '수학' : ['90','80','70','80'],
    '특기' : ['자바', '파이썬', '', '자바']
}
df = pd.DataFrame(data, index=['1번', '2번','3번','4번'])
df.index.name = '지원번호'
df

# 저장하기 
csv 파일로 저장

In [5]:
df.to_csv('score1.csv', encoding='utf-8-sig')

In [3]:
df.to_csv('score.csv', encoding='utf-8-sig', index=False)  #인덱스 제외

In [4]:
df.to_csv('score.csv', sep='\t')   #tab으로 구분된 텍스트 파일

In [7]:
df = pd.read_csv('score.csv', skiprows=2, nrows=4)  #처음 2행은 무시, 이후 4행 가져옴 
df

   2번  정대만  북산고  184  40  35  55  35.1  45        Java
0  3번  송태섭  북산고  168  85  90  75    75  65  JavaScript
1  4번  서태웅  북산고  198  50  60  80    75  80         NaN
2  5번  강백호  북산고  186  70  80  85    80  85         NaN
3  6번  변덕규  능남고  160  80  90  90    90  75           C

#df.to_excel('score.xlsx')      # excel 파일로 저장

In [5]:
df = pd.read_csv('score.csv')
df

          \t이름\t학교\t키\t국어\t영어\t수학\t특기
0   1번\t채치수\t북산고\t190\t90\t90\t90\t자바
1  2번\t정대만\t북산고\t180\t80\t80\t80\t파이썬
2      3번\t홍길동\t서울고\t70\t70\t70\t70\t
3    4번\t김갑수\t서울고\t80\t80\t80\t80\t자바

In [6]:
df = pd.read_csv('score.csv', skiprows=1, nrows=3)  #처음 1row제외, 이후 3row 가져옴 
df

    1번\t채치수\t북산고\t190\t90\t90\t90\t자바
0  2번\t정대만\t북산고\t180\t80\t80\t80\t파이썬
1      3번\t홍길동\t서울고\t70\t70\t70\t70\t
2    4번\t김갑수\t서울고\t80\t80\t80\t80\t자바