# 데이터 확인, 데이터프레임 확인

In [2]:
import pandas as pd 
df = pd.read_csv('score.csv')
df

  지원번호   이름   학교    키   국어  영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90  85  100  85  85      Python
1   2번  정대만  북산고  184   40  35   55  35  45        Java
2   3번  송태섭  북산고  168   85  90   75  75  65  JavaScript
3   4번  서태웅  북산고  198   50  60   80  75  80         NaN
4   5번  강백호  북산고  186   70  80   85  80  85         NaN
5   6번  변덕규  능남고  160   80  90   90  90  75           C
6   7번  황태산  능남고  169   90  60   80  95  90      Python
7   8번  윤대협  능남고  190  100  80   90  95  85          C#

In [3]:
df.describe()

                키          국어         영어          수학         과학         사회
count    8.000000    8.000000   8.000000    8.000000   8.000000   8.000000
mean   181.500000   75.625000  72.500000   81.875000  78.750000  76.250000
std     14.202615   20.948491  19.272482   13.346348  19.410969  14.820353
min    160.000000   40.000000  35.000000   55.000000  35.000000  45.000000
25%    168.750000   65.000000  60.000000   78.750000  75.000000  72.500000
50%    185.000000   82.500000  80.000000   82.500000  82.500000  82.500000
75%    191.750000   90.000000  86.250000   90.000000  91.250000  85.000000
max    198.000000  100.000000  90.000000  100.000000  95.000000  90.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지원번호    8 non-null      object
 1   이름      8 non-null      object
 2   학교      8 non-null      object
 3   키       8 non-null      int64
 4   국어      8 non-null      int64
 5   영어      8 non-null      int64
 6   수학      8 non-null      int64
 7   과학      8 non-null      int64
 8   사회      8 non-null      int64
 9   SW특기    6 non-null      object
dtypes: int64(6), object(4)
memory usage: 768.0+ bytes

In [5]:
df.head()   #처음 5개의 데이터를 가져옴

  지원번호   이름   학교    키  국어  영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197  90  85  100  85  85      Python
1   2번  정대만  북산고  184  40  35   55  35  45        Java
2   3번  송태섭  북산고  168  85  90   75  75  65  JavaScript
3   4번  서태웅  북산고  198  50  60   80  75  80         NaN
4   5번  강백호  북산고  186  70  80   85  80  85         NaN

In [6]:
df.tail(3)   #마지막 3개의 데이터를 가져옴

  지원번호   이름   학교    키   국어  영어  수학  과학  사회    SW특기
5   6번  변덕규  능남고  160   80  90  90  90  75       C
6   7번  황태산  능남고  169   90  60  80  95  90  Python
7   8번  윤대협  능남고  190  100  80  90  95  85      C#

In [7]:
df.shape   #8행 10열

(8, 10)

In [8]:
df.values

array([['1번', '채치수', '북산고', 197, 90, 85, 100, 85, 85, 'Python'],
       ['2번', '정대만', '북산고', 184, 40, 35, 55, 35, 45, 'Java'],
       ['3번', '송태섭', '북산고', 168, 85, 90, 75, 75, 65, 'JavaScript'],
       ['4번', '서태웅', '북산고', 198, 50, 60, 80, 75, 80, nan],
       ['5번', '강백호', '북산고', 186, 70, 80, 85, 80, 85, nan],
       ['6번', '변덕규', '능남고', 160, 80, 90, 90, 90, 75, 'C'],
       ['7번', '황태산', '능남고', 169, 90, 60, 80, 95, 90, 'Python'],
       ['8번', '윤대협', '능남고', 190, 100, 80, 90, 95, 85, 'C#']], dtype=object)

In [9]:
df['키'].describe()

count      8.000000
mean     181.500000
std       14.202615
min      160.000000
25%      168.750000
50%      185.000000
75%      191.750000
max      198.000000
Name: 키, dtype: float64

In [10]:
df.to_csv('score1.csv', encoding='utf-8-sig')

In [11]:
df.to_csv('score2.csv', encoding='utf-8', index=False)

In [12]:
df.to_csv('score.txt', sep='\t')  #tab seperator

In [15]:
df.to_csv('score1.xls', encoding='utf-8-sig')

In [16]:
df['키'].describe

<bound method NDFrame.describe of 0    197
1    184
2    168
3    198
4    186
5    160
6    169
7    190
Name: 키, dtype: int64>

In [20]:
df['키'].mean()

181.5

In [21]:
df['키'].min()

160